@import 'variables.scss';
@import 'setup.scss';
@import 'game.scss';
@import 'start.scss';

body {
  margin: 0;
  padding: 20px;
  font-family: Arial;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


