body {
  color: #fff;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;

  background-color: #000;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


