@import 'variables';
@import 'battlefield';

.game {

  .header {
    h1 {
      width: 50%;
      float: left;
    }
    .turn {
      @include big-button();
    }

    .turn {
      background-color: $primary;
    }
  }

  .play-area {
      clear:both;
      .opponent, .me {
          float: left;
      }

      .me {
          padding-left:10px;
          width: 40%;
      }

      .opponent {
          padding-right:10px;
          width: 60%;
      }
  }

}
