@import 'variables';
@import 'battlefield';

.game {

  .header {
    h1 {
      width: 50%;
      float: left;
    }
    .turn {
      @include big-button();
    }

    .turn {
      background-color: $primary;
    }
  }

  .opponent, .me {
    width: 50%;
    float: right;
    padding:10px;
  }
}
