@import 'variables';

.setup {
  width:70%;

  .header {
    h1 {
      width:80%;
      float:left;
    }
    .shuffle {
      margin-top:10px;
      padding:10px;
      min-width:200px;
      font-size: 1.5em;
      border:none;
      cursor:pointer;
      float:right;
      background-color: $secondary;
    }
  }

  .battlefield {
    clear:both;
    border:1px solid $border;
    min-height:500px;
    text-align: center;

    table {
      width:100%;
      td {
        border:1px solid #ccc;
        width:(100% / 11);
        height:50px;

        &.covered {
          background-color: $primary;
        }
      }
    }
  }
}