@import 'variables';

.setup {
  > div {
    float:left;
    border:1px solid $border;
    min-height:500px;
  }

  .battlefield {
    width:70%;

    table {
      width:100%;
      td {
        border:1px solid #ccc;
        width:(100% / 11);
        height:50px;

        &.covered {
          background-color: $primary;
        }
      }
    }
  }

  .choose-ships {
    width:30%;
  }
}