@import 'variables';
@import 'battlefield';

.setup {
  width:70%;

  .header {
    h1 {
      width:50%;
      float:left;
    }
    .shuffle, .play {
      @include big-button();
      background-color: $secondary;
    }

    .play {
        background-color: $primary;
    }
  }

}
